{% block TechnologyType_widget %}
    <div class="row {{ form.type.vars.value | lower }}" style="border-bottom: 1px solid #ccc">
        {{ form_row(form.type) }}
        <div class="col-sm-3">
            {% if form.type.vars.value == constant('AppBundle\\Entity\\Technology::TYPE_DEFAULT') %}
                <div class="form-group"><h4>{{ form.technology.vars.value }}</h4></div>
                <div class="hidden">
                    {{ form_row(form.technology) }}
                </div>
            {% else %}
                {{ form_row(form.technology, {'label' : 'Custom Technology Name'}) }}
            {% endif %}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.experienceLevel) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.vendor) }}
        </div>
        <div class="col-md-2" style="margin-top: 25px;">
            <div class="form-group">
                {% if form.type.vars.value == constant('AppBundle\\Entity\\Technology::TYPE_DEFAULT') %}
                    <a href="#" class="collection-remove"></a>
                {% else %}
                    <button type="button" class="collection-remove btn btn-danger" title="Delete element"><i class="fa fa-trash"></i></button>
                {% endif %}
            </div>
            {#<a href="#" class="collection-add btn btn-default" title="Add element"><i class="glyphicon glyphicon-plus-sign"></i></a>#}
        </div>

        {#<div class="col-md-2">#}
            {#<a href="#" class="collection-up btn btn-default" title="Move element up"><i class="glyphicon glyphicon-arrow-up"></i></a>#}
            {#<a href="#" class="collection-down btn btn-default" title="Move element down"><i class="glyphicon glyphicon-arrow-down"></i></a>#}
        {#</div>#}

        {#<div class="col-md-2">#}
            {#<a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><i class="glyphicon glyphicon-th-large"></i></a>#}
        {#</div>#}
    </div>
{% endblock %}

